00_setup/Instancias/
000_SETERS/
*.dll
.env
*.log
.000_*_hub_000/
MQL5/Logs/
MQL5/Files/

Compilacion/logs
.venv
# Carpeta de Reportes Masivos (Blindaje de Ejecución)
BUILD/RESULTADOS/*

# Ignorar el contenido de las carpetas BUILD (Nueva Estructura 1_BUILDING)
BUILD/1_BUILDING/01_ea_construccion/*
BUILD/1_BUILDING/02_ea_mejorar/*
BUILD/1_BUILDING/03_PORTAFOLIO/*
BUILD/1_BUILDING/04_ARCHIVADOS/*
BUILD/1_BUILDING/05_METRICAS_ELITES/*

# EXCEPCIÓN: No ignorar los archivos .gitkeep
!BUILD/1_BUILDING/01_ea_construccion/.gitkeep
!BUILD/1_BUILDING/02_ea_mejorar/.gitkeep
!BUILD/1_BUILDING/03_PORTAFOLIO/.gitkeep
!BUILD/1_BUILDING/04_ARCHIVADOS/.gitkeep
!BUILD/1_BUILDING/05_METRICAS_ELITES/.gitkeep
!BUILD/RESULTADOS/.gitkeep
!BUILD/1_BUILDING/03_PORTAFOLIO/teoria_template.md

# Ignorar Binarios Continentales (MT5)
00_setup/bin/*
!00_setup/bin/.gitkeep