DISPOSICION___=A
CUENTA=tunumerodecuenta
SERVIDOR=tuservidordebroker
PASS_NOINDEX=tucontraseña
DESCRIPCION=descripcion corta y amigable para entender despues cual es tu cuenta
USABLE=si la vas a usar dejala en True el sistema cuando la usa le pone false.

DISPOSICION___=B
CUENTA=
SERVIDOR=
PASS_NOINDEX=
DESCRIPCION=
USABLE=False

DISPOSICION___=C
CUENTA=
SERVIDOR=
PASS_NOINDEX=
DESCRIPCION=
USABLE=False

DISPOSICION___=D
CUENTA=
SERVIDOR=
PASS_NOINDEX=
DESCRIPCION=
USABLE=False

DISPOSICION___1=E
CUENTA=
SERVIDOR=
PASS_NOINDEX=
DESCRIPCION=
USABLE=False
